header {
    width: 100%;
    & div {
        background-color: #565656;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 3%;
        padding-right: 3%;

        & a.navAcces {
            width: 100px;
            height: 40px;
            background-color: #ffbd59a6;
            border: none;
            border-radius: 20px;
            color: white;
            font-size: 15px;
            display: flex;
            align-items: center;
            justify-content: center;

            & svg {
                font-size: 20px;
                color: #fff;
                margin-right: 8px;
            }
        }

        & img {
            width: 200px;
        }

        & a {
            display: flex;
            align-items: center;
            & svg {
                color: green;
                font-size: 30px;
                margin-right: 8px;
            }
            font-size: 15px;
            text-decoration: none;
            color: #fff;
            text-align: baseline;
        }
        & a:hover {
            color: #FFBD59;
        }

        @media screen and (max-width: 768px) {
            height: 80px;
            justify-content: space-between;
            & img {
                width: 100px;
            }
            & button {
                width: 80px;
                border-radius: 10px;

                & p {
                    display: block;
                }
                & svg {
                    margin-right: 5px;
                }
            }

        }

        @media screen and (max-width: 500px) {
            & a {
                order: 3;
            }
            & img {
                order: 1;
            }
            & button {
                order: 2;
                width: 40px;
                border-radius: 15px;

                & p {
                    display: none;
                }
                & svg {
                    margin-right: 0;
                }
            }
        }
            
    }
        // Top Header

        // MENU
    & nav {
        background-color: #767676;
        height: 60px;
        display: flex;
        justify-content: center;
        padding-bottom: 5px;
        & ul {
            margin: 0;
            padding-left: 0;
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            
            & li a {
                color: white;
                text-decoration: none;
                margin: auto 15px;
                font-size: 20px;
            }
        }

        @media screen and (max-width: 768px) {
            height: 40px;
            & ul li a {
                font-size: 15px;
            }
        }        
    }

    & a.active {
        // text-decoration: underline solid 3px #706A6A ;
        padding-bottom: 5px;
        color: #FFBD59 ;
        border-bottom: solid 3px #FFBD59;
        transition: all 0.25s ease;
    }
    // MENU


}